.Preview{
    height:100vh;
    display:flex;
    align-items: center;
    justify-content: center;
}
.Preview .Page{
    background-color: white;
    color:black;
    font-size:2vh;
    width:50%;
}
.Preview .Page-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.Preview .ContactInfo{}
.Preview .Skills{}
.Preview .Education{}
.Preview .Employment{}
